.page {
  width: 100%;
  display: grid;
  margin: 0;
  font-family: inter;
  overflow: scroll;
  background-color: #2a2c2f;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 52px repeat(1, 1fr) 18px;
  grid-template-areas:
    "header header header header"
    "content content content content"
    "footer footer footer footer";
}
@font-face {
  font-family: inter;
  src: url(../../Inter/Inter.ttf);
}
