.page {
  width: 100%;
  display: grid;
  margin: 0;
  font-family: "Inter";
  overflow: scroll;
  background-color: #2a2c2f;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "header header header header"
    "content content content content"
    "footer footer footer footer";
}