.place__image {
  grid-area: place__image;
  margin-top: 48px;
}
@media screen and (max-width: 1140px) {
  .place__image {
    width: 440px;
    height: 440px;
  }
}
@media screen and (max-width: 984px) {
  .place__image {
    width: 340px;
    height: 340px;
  }
}
@media screen and (max-width: 586px) {
  .place__image {
    width: 320px;
    height: 320px;
  }
}
