.header {
  grid-area: header;
  display: flex;
  height: 52px;
  justify-self: center;
  align-self: center;
  margin-top: 28px;
}

@media screen and (max-width: 586px) {
  .header {
    margin-top: 16px;
  }
}
