.content {
  margin-top: 56px;
  margin-bottom: 92px;
  max-width: 1280px;
  grid-area: content;
  display: grid;
  justify-self: center;
  align-self: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "lead lead lead"
    "intro intro intro"
    "photo-grid photo-grid photo-grid"
    "places places places"
    "caver caver caver";
}
@media screen and (max-width: 1140px) {
  .content {
    margin-top: 48px;
  }
}
@media screen and (max-width: 984px) {
  .content {
    margin-bottom: 88px;
  }
}
@media screen and (max-width: 586px) {
  .content {
    max-width: 320px;
    margin-bottom: 64px;
  }
}
