.place__text {
  grid-area: place__text;
  width: 100%;
  display: grid;
  row-gap: 25px;
  grid-auto-rows: min-content;
  grid-auto-columns: minmax(min-content, max-content);
}
@media screen and (max-width: 586px) {
  .place__text {
    padding: 0 16px 0;
  }
}
