.footer__link{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-right: 18px;  
    text-decoration: none;
}
.footer__link:last-of-type{
    margin-right: 533px; 
}