.place__paragraph {
  margin-top: 0;
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
  max-width: 100%;
  width: 100%;
  object-fit: contain;
}
.place__paragraph:last-of-type {
  margin: 0;
}
@media screen and (max-width: 984px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
  }
}
@media screen and (max-width: 586px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
  }
}
