.footer__copyright {
  grid-area: footer__copyright;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin: 0;
  align-self: end;
  justify-self: end;
  max-width: 186px;
  width: 100%;
}
