@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Inter/static/Inter-Regular.ttf);
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Inter/static/Inter-Bold.ttf);
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(../fonts/Inter/static/Inter-Black.ttf);
  }