.intro {
  grid-area: intro;
  display: flex;
  align-items: start;
  justify-content: start;
  justify-self: start;
  align-self: start;
  flex-direction: column;
  margin-top: 92px;
  padding: 0;
  margin-left: 148px;
  max-width: 720px;
  min-width: 288px;
  width: 100%;
}
@media screen and (max-width: 1140px) {
  .intro {
    margin-left: 48px;
  }
}
@media screen and (max-width: 984px) {
  .intro {
    margin-left: 24px;
  }
}
@media screen and (max-width: 742px) {
  .intro {
    max-width: 288px;;
    margin-right: 16px;
    margin-top: 64px;
    margin-left: 16px;
  }
}
