.cover__title {
  font-weight: 900;
  margin: 0;
  text-align: center;
  font-size: 72px;
  line-height: 106%;
  color: #ffffff;
  opacity: 2;
  z-index: 1;
  position: relative;
  margin-left: 312px;
  margin-right: 312px;
}
@media screen and (max-width: 1140px) {
  .cover__title {
    margin-left: 232px;
    margin-right: 232px;
  }
}
@media screen and (max-width: 984px) {
  .cover__title {
    margin-left: 104px;
    margin-right: 104px;
  }
}
@media screen and (max-width: 586px) {
  .cover__title {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
