.cover__title {
  font-weight: 900;
  margin: 0;
  text-align: center;
  font-size: 72px;
  line-height: 106%;
  color: #ffffff;
  opacity: 2;
  z-index: 1;
  position: relative;
  max-width: 560px;
  width: 100%;
}
@media screen and (max-width: 586px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 109%;
  }
}
