.footer {
  grid-area: footer;
  display: grid;
  max-width: 1184px;
  width: 100%;
  justify-self: center;
  grid-template-rows: repeat(1,auto);
  grid-template-areas: "footer__links footer__copyright";
}
@media screen and (max-width: 586px) {
  .footer {
    max-width: 186px;
    margin-left: 16px;
    align-items: flex-start;
    justify-content: start;
    justify-self: start;
    align-self: start;
    grid-template-columns: repeat(1,auto);
    grid-template-areas: 
    "footer__links"
    "footer__copyright";
  }
}
