.header__lang-links {
  grid-area: header__lang-links;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  align-self: end;
  justify-self: end;
  margin-bottom: 6px;
  margin-top: 18px;
}
