.place__website {
  grid-area: place__website;
  display: flex;
  max-width: 288px;
  width: 100%;
  flex-direction: column;
  margin-top: auto;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 586px) {
  .place__website {
    margin-left: 16px;
    margin-right: 16px;
  }
}
